{% extends 'base.html' %}

{% block title %}
Сторінка про сайт
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Додати співробітника</h1>
  <form method="post">
       <input type="text" name="first_name" id="first_name" class="form-control" placeholder="Введіть first_name"><br>
       <textarea name="last_name" id="last_name" class="form-control" placeholder="Введіть last_name"></textarea><br>
       <textarea name="email" id="email" class="form-control" placeholder="Введіть email"></textarea><br>
       <textarea name="salary" id="salary" class="form-control" placeholder="Введіть salary"></textarea><br>
       <textarea name=department_id id="department_id" class="form-control" placeholder="Введіть department_id"></textarea><br>
       <input type="submit" class="btn btn-success" value="Добавити">
  </form>
</div>
{% endblock %}