{% extends 'base.html' %}

{% block title %}
Сторінка про сайт
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Створення відділу</h1>
  <form method="post">
       <input type="text" name="departmentNAME" id="departmentNAME" class="form-control" placeholder="Введіть departmentNAME"><br>
       <textarea name="managerID" id="managerID" class="form-control" placeholder="Введіть managerID"></textarea><br>
       <textarea name="locationID" id="locationID" class="form-control" placeholder="Введіть locationID"></textarea><br>
       <input type="submit" class="btn btn-success" value="Добавити">
  </form>
</div>
{% endblock %}