{% extends 'base.html' %}

{% block title %}
Оновити відділ
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Оновити відділ</h1>
  <form method="post">
       <input type="text" name="departmentNAME" id="departmentNAME" class="form-control" value="{{ department.departmentNAME }}" placeholder="Введіть departmentNAME"><br>
       <textarea name="managerID" id="managerID" class="form-control" placeholder="Введіть managerID">{{ department.managerID }}</textarea><br>
       <textarea name="locationID" id="locationID" class="form-control" placeholder="Введіть locationID">{{ department.locationID }}</textarea><br>
       <input type="submit" class="btn btn-success" value="Оновити">
  </form>
</div>
{% endblock %}