{% extends 'base.html' %}

{% block title %}
Оновити співробітника
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Оновити співробітника</h1>
  <form method="post">
       <input type="text" name="first_name" id="first_name" class="form-control" value="{{ employee.first_name }}" placeholder="Введіть first_name"><br>
       <textarea name="last_name" id="last_name" class="form-control" placeholder="Введіть last_name">{{ employee.last_name }}</textarea><br>
       <textarea name="email" id="email" class="form-control" placeholder="Введіть email">{{ employee.email }}</textarea><br>
       <textarea name="salary" id="salary" class="form-control" placeholder="Введіть salary">{{ employee.salary }}</textarea><br>
       <textarea name=department_id id="department_id" class="form-control" placeholder="Введіть department_id">{{ employee.department_id }}</textarea><br>
       <input type="submit" class="btn btn-success" value="Добавити">
  </form>
</div>
{% endblock %}